<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ &bootstrap_url }}">
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Samples</h1>
        </div>
        <div class="panel-body">
            <div class="list-group">
                {{ #playgrounds }}
                <a class="list-group-item list-group-item-action" href="{{ &url }}">{{ title }}</a>
                {{ /playgrounds }}
            </div>
        </div>
    </div>
    <script src="{{ &bundle_url }}"></script>
</body>
</html>
