<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ &bootstrap_url }}">
    <style>
        .playground-container {
            height: 600px;
        }
        .playground-root {
            position: relative;
            width: 100%;
            height: 100%;
            border: 2px solid black;
            background-color: darkgrey;
        }
    </style>
    <script>
        PLAYGROUND_NAME = '{{ name }}';
        PLAYGROUND_ROOT = '#playground-root';
        {{ #worker_url }}
        WORKER_URL = '{{ &worker_url }}';
        {{ /worker_url }}
    </script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h1>
        </div>
        <a class="btn btn-link" href="/">Home</a>
        <div class="panel-body playground-container">
            <div id="playground-root" class="playground-root"></div>
{{ &custom_markup }}
        </div>
    </div>
    <script src="{{ &bundle_url }}"></script>
</body>
</html>
